export PM_API_TOKEN_ID="terraform-prov@pve!mytoken"
export PM_API_TOKEN_SECRET="afcd8f45-acc1-4d0f-bb12-a70b0777ec11"

# Provider configuration
pm_url = "https://proxmox.example.com:8006/api2/json"
pve_node = "pve"
vm_template = "ubuntu-cloud-22.04"
nameservers = "8.8.8.8,1.1.1.1"
searchdomain = "example.com"
ciuser = "adminuser"
cipassword = "securepassword"
sshkeys = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC..."
boot_disk_storage = "local-lvm"
package_update = true

# Virtual machines configuration
vms = {
  "web-server" = {
    vm_name = "web-server"
    cores = 2
    sockets = 1
    cpu_type = "host"
    memory = 4096
    boot_disk_size = "20G"
    ipconfig0 = "ip=192.168.1.100/24,gw=192.168.1.1"
    qemu_agent = 1
  },
  "db-server" = {
    vm_name = "db-server"
    cores = 4
    sockets = 1
    memory = 8192
    boot_disk_size = "50G"
    ipconfig0 = "ip=192.168.1.101/24,gw=192.168.1.1"
  },
  "app-server" = {
    vm_name = "app-server"
    cores = 2
    memory = 4096
    boot_disk_size = "30G"
    ipconfig0 = "ip=192.168.1.102/24,gw=192.168.1.1"
  },
  "monitoring" = {
    vm_name = "monitoring"
    cores = 2
    memory = 2048
    boot_disk_size = "15G"
    ipconfig0 = "ip=dhcp"
  },
  "k8s-master" = {
    vm_name = "k8s-master"
    cores = 4
    memory = 8192
    boot_disk_size = "30G"
    ipconfig0 = "ip=192.168.1.110/24,gw=192.168.1.1"
  },
  "k8s-worker-1" = {
    vm_name = "k8s-worker-1"
    cores = 4
    memory = 8192
    boot_disk_size = "40G"
    ipconfig0 = "ip=192.168.1.111/24,gw=192.168.1.1"
  },
  "k8s-worker-2" = {
    vm_name = "k8s-worker-2"
    cores = 4
    memory = 8192
    boot_disk_size = "40G"
    ipconfig0 = "ip=192.168.1.112/24,gw=192.168.1.1"
  }
}