apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus
  namespace: monitoring
spec:
  driftDetection:
    mode: enabled
  interval: 10m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: "75.9.0"
      sourceRef:
        kind: HelmRepository
        name: prometheus-community